{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
   {% if category %}
      {{ category.description|truncatewords:155 }}
   {% else %}
       welcome to store where you can experience different garage....
   {% endif %}
{% endblock %}

{% block title %}
    {% if category %}
        {{ category.name }} -  HotWheels
    {% else %}
         see our new collections - HotWheels
    {% endif %}
{% endblock %}

{% block content %}
    {% if category %}
      <div>
        <div class="row my_row_class">
            <div class="mx-auto">
            <p class="text-center custom_a" ><a href="{% url 'ecomapp:allProdCat' %}" class="custom_a" style="color:black;">Our product collections</a> </p>
        </div>
            </div>
      </div>
    {% endif %}
      <div class="mx_auto">
    {% if category %}
            <img  src="{{category.image.url}}" alt="{{category.name}}" style="width: 500px;height: 400px;margin-left: 400px;">
      </div>
      <br>
      <div>
             <h1 class="text-center my_title" style="font-size: 25px;"><b>{{category.name}}</b></h1>
             <p class="text-center">{{category.description}}</p>
      </div>
    {% else %}
    <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel" style="width: auto; margin: 0 auto; ;">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active ">
          <img class="d-block w-100 " src="{% static 'img/banner3.jpg' %}" alt="First slide" style="object-fit: cover; height: 700px; filter:brightness(0.8) ;">
        </div>
        <div class="carousel-item ">
          <img class="d-block w-100" src="{% static 'img/hot-wheel-4.jpg' %}" alt="Second slide"style="object-fit: cover; height: 700px; filter:brightness(0.8) ;" >
        </div>
        <div class="carousel-item ">
          <img class="d-block w-100" src="{% static 'img/hot-wheel-3.jpg' %}" alt="Third slide" style="object-fit: cover; height: 700px; filter:brightness(0.8) ;"  >
        </div>
        <div class="carousel-item ">
          <img class="d-block w-100" src="{% static 'img/hot-wheel-1.jpg' %}" alt="Third slide" style="object-fit: cover; height: 700px; filter:brightness(0.8) ;"  >
        </div>
        <div class="carousel-item ">
          <img class="d-block w-100" src="{% static 'img/hot-wheel-2.jpg' %}" alt="Third slide" style="object-fit: cover; height: 700px; filter:brightness(0.8) ;"  >
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    
      <br>
      <div>
         <h3 class="text-center my_title" style="font-size: 25px;">Mess with the Best</h3>
      </div>
    {% endif %}
      <div class="container">
      <div class="row mx_auto">
        {% for product in products.object_list %}
           <div class="my_bottom_margin col-9 col-sm-4 col-md-4 xol-lg-4">
           <div class="card text-center"  style="min-width:18rem;min-height: 20rem;">
             <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" style="width:200px;height:150px;margin-top:10px;" alt="{{product.name}}"></a>
           <div class="card-body">
             <h6>{{product.name}}</h6>
             <p>{{product.description}}</p>
             <p>₹{{product.price}}</p>
           </div>
           </div>
           </div>
        {% endfor %}
      </div>
          <div class="mx-auto">
              {% if products.paginator.num_pages > 1 %}
              <hr>
              <div class="text-center">
                  {% for pg in products.paginator.page_range %}
                  <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
                  {% endfor %}
              </div>
              {% endif %}
          </div>
          <br>
      </div>
{% endblock %}